black==19.10b0
click==8.0.2
isort[requirements] < 5
parameterized
pynini @ git+https://github.com/theREDspace/pynini@master
pytest
pytest-runner
ruamel.yaml
sphinx
sphinxcontrib-bibtex
wandb
wget
wrapt
